<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template HTML / SCSS - Switches - NV</title>
    <link href="/projects/template-html-nv/assets/vendors/prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/scss/main.css" />
    <!-- Favicons -->
    <link href="../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../..//assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input placeholder="switch" id="view-mode" type="checkbox" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input placeholder="search" id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Tag basic</h4>
            <div class="card-body">
              <div id="tab-tag-basic" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="px-3">
                      <div class="d-flex flex-wrap gap-3">
                        <div class="tags tag-primary">
                          <span>Primary</span>
                        </div>
                        <div class="tags tag-success">
                          <span>Success</span>
                        </div>
                        <div class="tags tag-info">
                          <span>Info</span>
                        </div>
                        <div class="tags tag-warning">
                          <span>Warning</span>
                        </div>
                        <div class="tags tag-danger">
                          <span>Danger</span>
                        </div>
                        <div class="tags tag-secondary">
                          <span>Secondary</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <div class="tags tag-primary">
      <span>Primary</span>
    </div>
    <div class="tags tag-success">
      <span>Success</span>
    </div>
    <div class="tags tag-info">
      <span>Info</span>
    </div>
    <div class="tags tag-warning">
      <span>Warning</span>
    </div>
    <div class="tags tag-danger">
      <span>Danger</span>
    </div>
    <div class="tags tag-secondary">
      <span>Secondary</span>
    </div>
  </div> 
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Tag rounded</h4>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-3">
                <div class="tags tag-primary rounded">
                  <span>Primary</span>
                </div>
                <div class="tags tag-success rounded">
                  <span>Success</span>
                </div>
                <div class="tags tag-info rounded">
                  <span>Info</span>
                </div>
                <div class="tags tag-warning rounded">
                  <span>Warning</span>
                </div>
                <div class="tags tag-danger rounded">
                  <span>Danger</span>
                </div>
                <div class="tags tag-secondary rounded">
                  <span>Secondary</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Tag icon</h4>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-3">
                <div class="tags tag-primary">
                  <em class="bi-person"></em>
                  <span>Primary</span>
                </div>
                <div class="tags tag-success">
                  <em class="bi-cart"></em>
                  <span>Success</span>
                </div>
                <div class="tags tag-info">
                  <em class="bi-controller"></em>
                  <span>Info</span>
                </div>
                <div class="tags tag-warning">
                  <em class="bi-cup"></em>
                  <span>Warning</span>
                </div>
                <div class="tags tag-danger">
                  <em class="bi-eye"></em>
                  <span>Danger</span>
                </div>
                <div class="tags tag-secondary">
                  <em class="bi-gear"></em>
                  <span>Secondary</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Tag icon rounded</h4>
            <div class="card-body">
              <div class="d-flex flex-wrap gap-3">
                <div class="tags tag-primary rounded">
                  <em class="bi-person"></em>
                  <span>Primary</span>
                </div>
                <div class="tags tag-success rounded">
                  <em class="bi-cart"></em>
                  <span>Success</span>
                </div>
                <div class="tags tag-info rounded">
                  <em class="bi-controller"></em>
                  <span>Info</span>
                </div>
                <div class="tags tag-warning rounded">
                  <em class="bi-cup"></em>
                  <span>Warning</span>
                </div>
                <div class="tags tag-danger rounded">
                  <em class="bi-eye"></em>
                  <span>Danger</span>
                </div>
                <div class="tags tag-secondary rounded">
                  <em class="bi-gear"></em>
                  <span>Secondary</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/assets/js/prism/prism.js"></script>
  <script src="/projects/template-html-nv/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/assets/vendors/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab('#tab-tag-basic');
  </script>
</html>
