<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table (Checkbox) - HTML / SCSS </title>
    <link rel="stylesheet" href="/projects/template-html-nv/src/assets/vendors/prism/prism.css" />
    <link rel="stylesheet" href="../../../../dist/main.css" />
    <link rel="stylesheet" href="../../../../src/assets/vendors/styles/main.css" />
    <!-- Favicons -->
    <link href="../../../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input id="view-mode" type="checkbox" placeholder="view-mode" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Checkbox</h4>
            <div class="card-body">
              <div id="tab-table-checkbox" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">
                              <div class="cell cell-center">
                                <div class="form-checkbox success filled rounded">
                                  <input placeholder="checkbox" id="checkbox-filled-all" type="checkbox" />
                                  <label for="checkbox-filled-all"></label>
                                </div>
                              </div>
                            </th>
                            <th scope="col">
                              <div class="cell cell-left">NAME</div>
                            </th>
                            <th scope="col">
                              <div class="cell cell-left">LASTNAME</div>
                            </th>
                            <th scope="col">
                              <div class="cell cell-left">EMAIL</div>
                            </th>
                            <th scope="col">
                              <div class="cell cell-left">PHONE</div>
                            </th>
                            <th scope="col">
                              <div class="cell cell-left">STATUS</div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-1" type="checkbox" />
                                    <label for="checkbox-filled-1"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-2" type="checkbox" />
                                    <label for="checkbox-filled-2"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-info">
                                    <span>Verified</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-3" type="checkbox" />
                                    <label for="checkbox-filled-3"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-4" type="checkbox" />
                                    <label for="checkbox-filled-4"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-5" type="checkbox" />
                                    <label for="checkbox-filled-5"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-secondary">
                                    <span>Inactive</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-6" type="checkbox" />
                                    <label for="checkbox-filled-6"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-danger">
                                    <span>Blocked</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-7" type="checkbox" />
                                    <label for="checkbox-filled-7"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-8" type="checkbox" />
                                    <label for="checkbox-filled-8"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-9" type="checkbox" />
                                    <label for="checkbox-filled-9"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-success">
                                    <span>Active</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="cell-center">
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="form-checkbox success filled rounded">
                                    <input placeholder="checkbox" id="checkbox-filled-10" type="checkbox" />
                                    <label for="checkbox-filled-10"></label>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">Nelson H.</div>
                              </div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
                            </td>
                            <td>
                              <div class="cell-body"><div class="cell">+51 987654321</div></div>
                            </td>
                            <td>
                              <div class="cell-body">
                                <div class="cell">
                                  <div class="tags tag-warning">
                                    <span>Pending</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <!-- Code -->
                    <pre><code class="language-markup">
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <div class="cell cell-center">
            <div class="form-checkbox success filled rounded">
              <input placeholder="checkbox" id="checkbox-filled-all" type="checkbox" />
              <label for="checkbox-filled-all"></label>
            </div>
          </div>
        </th>
        <th scope="col">
          <div class="cell cell-left">NAME</div>
        </th>
        <th scope="col">
          <div class="cell cell-left">LASTNAME</div>
        </th>
        <th scope="col">
          <div class="cell cell-left">EMAIL</div>
        </th>
        <th scope="col">
          <div class="cell cell-left">PHONE</div>
        </th>
        <th scope="col">
          <div class="cell cell-left">STATUS</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-1" type="checkbox" />
                <label for="checkbox-filled-1"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-2" type="checkbox" />
                <label for="checkbox-filled-2"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-info">
                <span>Verified</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-3" type="checkbox" />
                <label for="checkbox-filled-3"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-4" type="checkbox" />
                <label for="checkbox-filled-4"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-5" type="checkbox" />
                <label for="checkbox-filled-5"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-secondary">
                <span>Inactive</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-6" type="checkbox" />
                <label for="checkbox-filled-6"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-danger">
                <span>Blocked</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-7" type="checkbox" />
                <label for="checkbox-filled-7"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-8" type="checkbox" />
                <label for="checkbox-filled-8"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-9" type="checkbox" />
                <label for="checkbox-filled-9"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-success">
                <span>Active</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cell-center">
          <div class="cell-body">
            <div class="cell">
              <div class="form-checkbox success filled rounded">
                <input placeholder="checkbox" id="checkbox-filled-10" type="checkbox" />
                <label for="checkbox-filled-10"></label>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">Nelson H.</div>
          </div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">Valverde La Torre</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">nelsonvalverdelt@outlook.com</div></div>
        </td>
        <td>
          <div class="cell-body"><div class="cell">+51 987654321</div></div>
        </td>
        <td>
          <div class="cell-body">
            <div class="cell">
              <div class="tags tag-warning">
                <span>Pending</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/src/assets/vendors/prism/prism.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/src/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/src/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab("#tab-table-checkbox");
  </script>
</html>
