.card {
  border-radius: var(--nv-card-border-radius);
  box-shadow: var(--nv-card-box-shadow);
  overflow-x: auto;
  > .card-header {
    font-family: "Font-Medium";
    font-size: var(--nv-control-font-size);
    padding-top: var(--nv-card-padding);
    padding-right: var(--nv-card-padding);
    padding-left: var(--nv-card-padding);
    padding-bottom: var(--nv-card-padding);
  }
  > .card-body {
    font-family: "Font-Light";
    font-size: var(--nv-control-font-size);
    padding-bottom: var(--nv-card-padding);
    padding-left: var(--nv-card-padding);
    padding-right: var(--nv-card-padding);
  }
}
