
 .scrollbar::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     background-color: #ececec;
     border-radius: 10px;
 }
 
 .scrollbar::-webkit-scrollbar
 {
     width: 6px;
     background-color: #ececec;
 }
 
 .scrollbar::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #F5F5F5;
     background-image: -webkit-linear-gradient(top,
                                               #d4d4d4 0%,
                                               #d4d4d4 50%,
                                               #d4d4d4 51%,
                                               #d4d4d4 100%);
 }