<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template HTML / SCSS - Alerts NV</title>
    <link href="/projects/template-html-nv/assets/vendors/prism/prism.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/scss/main.css" />
    <!-- Favicons -->
    <link href="../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../..//assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input id="view-mode" type="checkbox" placeholder="view-mode" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Alert 1</h4>
            <div class="card-body">
              <div id="tab-alert1" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <span class="text">This is a primary alert</span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <span class="text">This is a warning alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <span class="text">This is a danger alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <span class="text">This is a info alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <span class="text">This is a primary alert</span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <span class="text">This is a warning alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <span class="text">This is a danger alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <span class="text">This is a info alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Alert 2</h4>
            <div class="card-body">
              <div id="tab-alert2" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert2 alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a success alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert2 alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a warning alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert2 alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a danger alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert2 alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a info alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert2 alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a success alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert2 alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a warning alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert2 alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a danger alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert2 alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a info alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Alert 3</h4>
            <div class="card-body">
              <div id="tab-alert3" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert3 alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <span class="text">This is a primary alert</span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert3 alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <span class="text">This is a warning alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert3 alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <span class="text">This is a danger alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert3 alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <span class="text">This is a info alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert3 alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <span class="text">This is a primary alert</span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert3 alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <span class="text">This is a warning alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert3 alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <span class="text">This is a danger alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert3 alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <span class="text">This is a info alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Alert 4</h4>
            <div class="card-body">
              <div id="tab-alert4" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert4 alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <span class="text">This is a primary alert</span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert4 alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <span class="text">This is a warning alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert4 alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <span class="text">This is a danger alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert4 alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <span class="text">This is a info alert </span>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert4 alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <span class="text">This is a primary alert</span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert4 alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <span class="text">This is a warning alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert4 alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <span class="text">This is a danger alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert4 alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <span class="text">This is a info alert </span>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Alert 5</h4>
            <div class="card-body">
              <div id="tab-alert5" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert5 alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a primary alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert5 alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a warning alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert5 alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a danger alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert5 alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a info alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert5 alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a primary alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert5 alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a warning alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert5 alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a danger alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert5 alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a info alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Alert 6</h4>
            <div class="card-body">
              <div id="tab-alert6" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="d-flex flex-wrap gap-3">
                      <div class="alert6 alert-success" role="alert">
                        <span class="icon">
                          <em class="bi-check2"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a primary alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert6 alert-warning" role="alert">
                        <span class="icon">
                          <em class="bi-exclamation-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a warning alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert6 alert-danger" role="alert">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a danger alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                      <div class="alert6 alert-info" role="alert">
                        <span class="icon">
                          <em class="bi-info"></em>
                        </span>
                        <div class="text">
                          <span class="title">Title #1</span>
                          <span class="description">This is a info alert </span>
                        </div>
                        <span class="close">
                          <em class="bi-x-lg"></em>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <div class="px-3">
                      <!-- Code -->
                      <pre><code class="language-markup">
<div class="d-flex flex-wrap gap-3">
  <div class="alert6 alert-success" role="alert">
    <span class="icon">
      <em class="bi-check2"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a primary alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert6 alert-warning" role="alert">
    <span class="icon">
      <em class="bi-exclamation-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a warning alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert6 alert-danger" role="alert">
    <span class="icon">
      <em class="bi-x-lg"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a danger alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
  <div class="alert6 alert-info" role="alert">
    <span class="icon">
      <em class="bi-info"></em>
    </span>
    <div class="text">
      <span class="title">Title #1</span>
      <span class="description">This is a info alert </span>
    </div>
    <span class="close">
      <em class="bi-x-lg"></em>
    </span>
  </div>
</div>
                      </code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/assets/js/prism/prism.js"></script>
  <script src="/projects/template-html-nv/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/assets/vendors/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab("#tab-alert1");
    fnTab("#tab-alert2");
    fnTab("#tab-alert3");
    fnTab("#tab-alert4");
    fnTab("#tab-alert5");
    fnTab("#tab-alert6");
  </script>
</html>
