<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons NV - HTML / SCSS </title>
    <link rel="stylesheet" href="/projects/template-html-nv/src/assets/vendors/prism/prism.css" />
    <link rel="stylesheet" href="../../../dist/main.css" />
    <link rel="stylesheet" href="../../../src/assets/vendors/styles/main.css" />
    <!-- Favicons -->
    <link href="../../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input id="view-mode" type="checkbox" placeholder="view-mode" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Basic Buttons</h4>
            <div class="card-body">
              <div id="tab-basic-buttons" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" class="btn btn-primary">Primary</button>
                      <button type="button" title="btn" class="btn btn-success">Success</button>
                      <button type="button" title="btn" class="btn btn-info">Info</button>
                      <button type="button" title="btn" class="btn btn-warning">Warning</button>
                      <button type="button" title="btn" class="btn btn-danger">Danger</button>
                      <button type="button" title="btn" class="btn btn-secondary">Secondary</button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <button type="button" title="btn" class="btn btn-primary">Primary</button>
    <button type="button" title="btn" class="btn btn-success">Success</button>
    <button type="button" title="btn" class="btn btn-info">Info</button>
    <button type="button" title="btn" class="btn btn-warning">Warning</button>
    <button type="button" title="btn" class="btn btn-danger">Danger</button>
    <button type="button" title="btn" class="btn btn-secondary">Secondary</button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Rounded buttons</h4>
            <div class="card-body">
              <div id="tab-rounded-buttons" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" class="btn btn-primary rounded">Primary</button>
                      <button type="button" title="btn" class="btn btn-success rounded">Success</button>
                      <button type="button" title="btn" class="btn btn-info rounded">Info</button>
                      <button type="button" title="btn" class="btn btn-warning rounded">Warning</button>
                      <button type="button" title="btn" class="btn btn-danger rounded">Danger</button>
                      <button type="button" title="btn" class="btn btn-secondary rounded">Secondary</button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <button type="button" title="btn" class="btn btn-primary rounded">Primary</button>
    <button type="button" title="btn" class="btn btn-success rounded">Success</button>
    <button type="button" title="btn" class="btn btn-info rounded">Info</button>
    <button type="button" title="btn" class="btn btn-warning rounded">Warning</button>
    <button type="button" title="btn" class="btn btn-danger rounded">Danger</button>
    <button type="button" title="btn" class="btn btn-secondary rounded">Secondary</button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Icon buttons - right</h4>
            <div class="card-body">
              <div id="tab-icon-buttons-right" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" class="btn btn-primary rounded">
                        Primary
                        <span class="icon icon-right">
                          <em class="bi-pencil"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-success rounded">
                        Success
                        <span class="icon icon-right">
                          <em class="bi-x-lg"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-info rounded">
                        Info
                        <span class="icon icon-right">
                          <em class="bi-eye"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-warning rounded">
                        Warning
                        <span class="icon icon-right">
                          <em class="bi-search"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-danger rounded">
                        Danger
                        <span class="icon icon-right">
                          <em class="bi-bell"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-secondary rounded">
                        Secondary
                        <span class="icon icon-right">
                          <em class="bi-check-circle"></em>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-html">
  <div class="d-flex flex-wrap gap-3">
    <button type="button" title="btn" class="btn btn-primary rounded">
      Primary
      <span class="icon icon-right">
        <em class="bi-pencil"></em>
      </span>
    </button>
    <button type="button" title="btn" class="btn btn-success rounded">
      Success
      <span class="icon icon-right">
        <em class="bi-x-lg"></em>
      </span>
    </button>
    <button type="button" title="btn" class="btn btn-info rounded">
      Info
      <span class="icon icon-right">
        <em class="bi-eye"></em>
      </span>
    </button>
    <button type="button" title="btn" class="btn btn-warning rounded">
      Warning
      <span class="icon icon-right">
        <em class="bi-search"></em>
      </span>
    </button>
    <button type="button" title="btn" class="btn btn-danger rounded">
      Danger
      <span class="icon icon-right">
        <em class="bi-bell"></em>
      </span>
    </button>
    <button type="button" title="btn" class="btn btn-secondary rounded">
      Secondary
      <span class="icon icon-right">
        <em class="bi-check-circle"></em>
      </span>
    </button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Icon buttons - Left</h4>
            <div class="card-body">
              <div id="tab-icon-buttons-left" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" class="btn btn-primary">
                        <span class="icon icon-left">
                          <em class="bi-pencil"></em>
                        </span>
                        Primary
                      </button>
                      <button type="button" title="btn" class="btn btn-success">
                        <span class="icon icon-left">
                          <em class="bi-x-lg"></em>
                        </span>
                        Success
                      </button>
                      <button type="button" title="btn" class="btn btn-info">
                        <span class="icon icon-left">
                          <em class="bi-eye"></em>
                        </span>
                        Info
                      </button>
                      <button type="button" title="btn" class="btn btn-warning">
                        <span class="icon icon-left">
                          <em class="bi-search"></em>
                        </span>
                        Warning
                      </button>
                      <button type="button" title="btn" class="btn btn-danger">
                        <span class="icon icon-left">
                          <em class="bi-bell"></em>
                        </span>
                        Danger
                      </button>
                      <button type="button" title="btn" class="btn btn-secondary">
                        <span class="icon icon-left">
                          <em class="bi-check-circle"></em>
                        </span>
                        Secondary
                      </button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-html">
  <div class="d-flex flex-wrap gap-3">
    <button type="button" title="btn" class="btn btn-primary">
      <span class="icon icon-left">
        <em class="bi-pencil"></em>
      </span>
      Primary
    </button>
    <button type="button" title="btn" class="btn btn-success">
      <span class="icon icon-left">
        <em class="bi-x-lg"></em>
      </span>
      Success
    </button>
    <button type="button" title="btn" class="btn btn-info">
      <span class="icon icon-left">
        <em class="bi-eye"></em>
      </span>
      Info
    </button>
    <button type="button" title="btn" class="btn btn-warning">
      <span class="icon icon-left">
        <em class="bi-search"></em>
      </span>
      Warning
    </button>
    <button type="button" title="btn" class="btn btn-danger">
      <span class="icon icon-left">
        <em class="bi-bell"></em>
      </span>
      Danger
    </button>
    <button type="button" title="btn" class="btn btn-secondary">
      <span class="icon icon-left">
        <em class="bi-check-circle"></em>
      </span>
      Secondary
    </button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">buttons outline</h4>
            <div class="card-body">
              <div id="tab-buttons-outline" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" class="btn btn-primary-outline">Primary</button>
                      <button type="button" title="btn" class="btn btn-success-outline">Success</button>
                      <button type="button" title="btn" class="btn btn-info-outline">Info</button>
                      <button type="button" title="btn" class="btn btn-warning-outline">Warning</button>
                      <button type="button" title="btn" class="btn btn-danger-outline">Danger</button>
                      <button type="button" title="btn" class="btn btn-secondary-outline">Secondary</button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-html">
  <div class="d-flex flex-wrap gap-3">
    <button type="button" title="btn" class="btn btn-primary-outline">Primary</button>
    <button type="button" title="btn" class="btn btn-success-outline">Success</button>
    <button type="button" title="btn" class="btn btn-info-outline">Info</button>
    <button type="button" title="btn" class="btn btn-warning-outline">Warning</button>
    <button type="button" title="btn" class="btn btn-danger-outline">Danger</button>
    <button type="button" title="btn" class="btn btn-secondary-outline">Secondary</button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Icon buttons</h4>
            <div class="card-body">
              <div id="tab-icon-buttons" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <button type="button" title="btn" type="button" title="btn" class="btn btn-icon btn-primary-outline">
                        <span class="icon">
                          <em class="bi-pencil"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-success-outline">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-info-outline">
                        <span class="icon">
                          <em class="bi-eye"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-warning-outline">
                        <span class="icon">
                          <em class="bi-search"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-danger-outline">
                        <span class="icon">
                          <em class="bi-bell"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-secondary-outline">
                        <span class="icon">
                          <em class="bi-star"></em>
                        </span>
                      </button>
                    </div>
                    <div class="d-flex flex-wrap gap-3 mt-3">
                      <button type="button" title="btn" class="btn btn-icon btn-primary-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-pencil"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-success-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-info-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-eye"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-warning-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-search"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-danger-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-bell"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-secondary-outline icon-rounded">
                        <span class="icon">
                          <em class="bi-star"></em>
                        </span>
                      </button>
                    </div>
                    <div class="d-flex flex-wrap gap-3 mt-3">
                      <button type="button" title="btn" class="btn btn-icon btn-primary">
                        <span class="icon">
                          <em class="bi-pencil"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-success">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-info">
                        <span class="icon">
                          <em class="bi-eye"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-warning">
                        <span class="icon">
                          <em class="bi-search"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-danger">
                        <span class="icon">
                          <em class="bi-bell"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-secondary">
                        <span class="icon">
                          <em class="bi-star"></em>
                        </span>
                      </button>
                    </div>
                    <div class="d-flex flex-wrap gap-3 mt-3">
                      <button type="button" title="btn" class="btn btn-icon btn-primary icon-rounded">
                        <span class="icon">
                          <em class="bi-pencil"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-success icon-rounded">
                        <span class="icon">
                          <em class="bi-x-lg"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-info icon-rounded">
                        <span class="icon">
                          <em class="bi-eye"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-warning icon-rounded">
                        <span class="icon">
                          <em class="bi-search"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-danger icon-rounded">
                        <span class="icon">
                          <em class="bi-bell"></em>
                        </span>
                      </button>
                      <button type="button" title="btn" class="btn btn-icon btn-secondary icon-rounded">
                        <span class="icon">
                          <em class="bi-star"></em>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-html">
  <div class="d-flex flex-wrap gap-3">
    <!--Outline-->
    <button type="button" title="btn" class="btn btn-icon btn-primary-outline">
      <span class="icon">
        <em class="bi-pencil"></em>
      </span>
    </button>
    <!--Outline rounded-->
    <button type="button" title="btn" class="btn btn-icon btn-primary-outline icon-rounded">
      <span class="icon">
        <em class="bi-pencil"></em>
      </span>
    </button>
    <!--Basic-->
    <button type="button" title="btn" class="btn btn-icon btn-primary">
      <span class="icon">
        <em class="bi-pencil"></em>
      </span>
    </button>
    <!--Rounded-->
    <button type="button" title="btn" class="btn btn-icon btn-primary icon-rounded">
      <span class="icon">
        <em class="bi-pencil"></em>
      </span>
    </button>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/src/assets/vendors/prism/prism.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/src/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/src/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab("#tab-basic-buttons");
    fnTab("#tab-rounded-buttons");
    fnTab("#tab-icon-buttons-right");
    fnTab("#tab-icon-buttons-left");
    fnTab("#tab-buttons-outline");
    fnTab("#tab-icon-buttons");
  </script>
</html>
