<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listbox NV - HTML / SCSS </title>
    <link rel="stylesheet" href="/projects/template-html-nv/src/assets/vendors/prism/prism.css" />
    <link rel="stylesheet" href="../../../dist/main.css" />
    <link rel="stylesheet" href="../../../src/assets/vendors/styles/main.css" />
    <!-- Favicons -->
    <link href="../../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input placeholder="radio" id="view-mode" type="checkbox" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input placeholder="radio" id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Listbox - basic</h4>
            <div class="card-body">
              <div id="tab-listbox-basic" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="listbox">
                      <ul class="listbox-items">
                        <li class="item">Nelson</li>
                        <li class="item">Anais</li>
                        <li class="item">Cesar</li>
                        <li class="item">Cristina</li>
                        <li class="item">Celso</li>
                        <li class="item">Angelita</li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <!-- Code -->
                    <pre><code class="language-markup">
<div class="listbox">
  <ul class="listbox-items">
    <li class="item">Nelson</li>
    <li class="item">Anais</li>
    <li class="item">Cesar</li>
    <li class="item">Cristina</li>
    <li class="item">Celso</li>
    <li class="item">Angelita</li>
  </ul>
</div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Listbox - checkmark</h4>
            <div class="card-body">
              <div id="tab-listbox-checkmark" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="listbox checkmark">
                      <ul class="listbox-items">
                        <li class="item">
                          <em class="bi-check2 active"></em>
                          <span>Nelson</span>
                        </li>
                        <li class="item"><span>Anais</span></li>
                        <li class="item"><span>Cesar</span></li>
                        <li class="item"><span>Cristina</span></li>
                        <li class="item"><span>Celso</span></li>
                        <li class="item"><span>Angelita</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <!-- Code -->
                    <pre><code class="language-markup">
<div class="listbox checkmark">
  <ul class="listbox-items">
    <li class="item">
      <em class="bi-check2 active"></em>
      <span>Nelson</span>
    </li>
    <li class="item"><span>Anais</span></li>
    <li class="item"><span>Cesar</span></li>
    <li class="item"><span>Cristina</span></li>
    <li class="item"><span>Celso</span></li>
    <li class="item"><span>Angelita</span></li>
  </ul>
</div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Listbox - checkbox</h4>
            <div class="card-body">
              <div id="tab-listbox-checkbox" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="listbox checkbox">
                      <ul class="listbox-items">
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-1" type="checkbox" />
                            <label for="checkbox-1"></label>
                          </div>
                          <span>Nelson</span>
                        </li>
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-2" type="checkbox" />
                            <label for="checkbox-2"></label>
                          </div>
                          <span>Anais</span>
                        </li>
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-3" type="checkbox" />
                            <label for="checkbox-3"></label>
                          </div>
                          <span>Cesar</span>
                        </li>
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-4" type="checkbox" />
                            <label for="checkbox-4"></label>
                          </div>
                          <span>Cristina</span>
                        </li>
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-5" type="checkbox" />
                            <label for="checkbox-5"></label>
                          </div>
                          <span>Celso</span>
                        </li>
                        <li class="item">
                          <div class="form-checkbox">
                            <input placeholder="checkbox" id="checkbox-6" type="checkbox" />
                            <label for="checkbox-6"></label>
                          </div>
                          <span>Angelita</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <!-- Code -->
                    <pre><code class="language-markup">
<div class="listbox checkbox">
  <ul class="listbox-items">
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-1" type="checkbox" />
        <label for="checkbox-1"></label>
      </div>
      <span>Nelson</span>
    </li>
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-2" type="checkbox" />
        <label for="checkbox-2"></label>
      </div>
      <span>Anais</span>
    </li>
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-3" type="checkbox" />
        <label for="checkbox-3"></label>
      </div>
      <span>Cesar</span>
    </li>
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-4" type="checkbox" />
        <label for="checkbox-4"></label>
      </div>
      <span>Cristina</span>
    </li>
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-5" type="checkbox" />
        <label for="checkbox-5"></label>
      </div>
      <span>Celso</span>
    </li>
    <li class="item">
      <div class="form-checkbox">
        <input placeholder="checkbox" id="checkbox-6" type="checkbox" />
        <label for="checkbox-6"></label>
      </div>
      <span>Angelita</span>
    </li>
  </ul>
</div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Listbox - filter</h4>
            <div class="card-body">
              <div id="tab-listbox-filter" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <!-- Example -->
                    <div class="listbox">
                      <div class="input-filter">
                        <input placeholder="" type="text" />
                        <em class="bi-search search"></em>
                      </div>
                      <ul class="listbox-items">
                        <li class="item">Nelson</li>
                        <li class="item">Anais</li>
                        <li class="item">Cesar</li>
                        <li class="item">Cristina</li>
                        <li class="item">Celso</li>
                        <li class="item">Angelita</li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <!-- Code -->
                    <pre><code class="language-markup">
  <div class="listbox">
    <div class="input-filter">
      <input placeholder="" type="text" />
      <em class="bi-search search"></em>
    </div>
    <ul class="listbox-items">
      <li class="item">Nelson</li>
      <li class="item">Anais</li>
      <li class="item">Cesar</li>
      <li class="item">Cristina</li>
      <li class="item">Celso</li>
      <li class="item">Angelita</li>
    </ul>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/src/assets/vendors/prism/prism.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/src/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/src/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab("#tab-listbox-basic");
    fnTab("#tab-listbox-checkmark");
    fnTab("#tab-listbox-checkbox");
    fnTab("#tab-listbox-filter");
  </script>
</html>
