<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Switch NV - HTML / SCSS </title>
    <link rel="stylesheet" href="/projects/template-html-nv/src/assets/vendors/prism/prism.css" />
    <link rel="stylesheet" href="../../../dist/main.css" />
    <link rel="stylesheet" href="../../../src/assets/vendors/styles/main.css" />
    <!-- Favicons -->
    <link href="../../../../../assets/img/favicon.png" rel="icon" />
    <link href="../../../../../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
  </head>
  <body>
    <div class="main">
      <div class="menu">
        <div class="menu-header">
          <div class="menu-header-nav">
            <div class="logo"></div>
            <div class="action-view-mode">
              <input placeholder="switch" id="view-mode" type="checkbox" />
              <label for="view-mode"></label>
            </div>
          </div>
          <div class="search mt-4">
            <input placeholder="switch" id="search" type="text" placeholder="Search" />
            <label for="search" class="bi-search"></label>
          </div>
        </div>
        <div class="my-2">
          <div class="line-vertical"></div>
        </div>
        <div class="menu-body scrollbar"></div>
      </div>
      <div class="main-body">
        <div class="container">
          <div class="card">
            <h4 class="card-header">Basic Switches</h4>
            <div class="card-body">
              <div id="tab-basic-switches" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <div class="form-switch">
                        <input placeholder="switch" id="switch-1" type="checkbox" />
                        <label for="switch-1"></label>
                      </div>
                      <div class="form-switch primary">
                        <input placeholder="switch" id="switch-2" type="checkbox" />
                        <label for="switch-2"></label>
                      </div>
                      <div class="form-switch success">
                        <input placeholder="switch" id="switch-3" type="checkbox" />
                        <label for="switch-3"></label>
                      </div>
                      <div class="form-switch info">
                        <input placeholder="switch" id="switch-4" type="checkbox" />
                        <label for="switch-4"></label>
                      </div>
                      <div class="form-switch warning">
                        <input placeholder="switch" id="switch-5" type="checkbox" />
                        <label for="switch-5"></label>
                      </div>
                      <div class="form-switch danger">
                        <input placeholder="switch" id="switch-6" type="checkbox" />
                        <label for="switch-6"></label>
                      </div>
                      <div class="form-switch secondary">
                        <input placeholder="switch" id="switch-7" type="checkbox" />
                        <label for="switch-7"></label>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <div class="form-switch">
      <input placeholder="switch" id="switch-1" type="checkbox" />
      <label for="switch-1"></label>
    </div>
    <div class="form-switch primary">
      <input placeholder="switch" id="switch-2" type="checkbox" />
      <label for="switch-2"></label>
    </div>
    <div class="form-switch success">
      <input placeholder="switch" id="switch-3" type="checkbox" />
      <label for="switch-3"></label>
    </div>
    <div class="form-switch info">
      <input placeholder="switch" id="switch-4" type="checkbox" />
      <label for="switch-4"></label>
    </div>
    <div class="form-switch warning">
      <input placeholder="switch" id="switch-5" type="checkbox" />
      <label for="switch-5"></label>
    </div>
    <div class="form-switch danger">
      <input placeholder="switch" id="switch-6" type="checkbox" />
      <label for="switch-6"></label>
    </div>
    <div class="form-switch secondary">
      <input placeholder="switch" id="switch-7" type="checkbox" />
      <label for="switch-7"></label>
    </div>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Rounded</h4>
            <div class="card-body">
              <div id="tab-rounded" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <div class="form-switch rounded">
                        <input placeholder="switch" id="switch-rounded-1" type="checkbox" />
                        <label for="switch-rounded-1"></label>
                      </div>
                      <div class="form-switch primary rounded">
                        <input placeholder="switch" id="switch-rounded-2" type="checkbox" />
                        <label for="switch-rounded-2"></label>
                      </div>
                      <div class="form-switch success rounded">
                        <input placeholder="switch" id="switch-rounded-3" type="checkbox" />
                        <label for="switch-rounded-3"></label>
                      </div>
                      <div class="form-switch info rounded">
                        <input placeholder="switch" id="switch-rounded-4" type="checkbox" />
                        <label for="switch-rounded-4"></label>
                      </div>
                      <div class="form-switch warning rounded">
                        <input placeholder="switch" id="switch-rounded-5" type="checkbox" />
                        <label for="switch-rounded-5"></label>
                      </div>
                      <div class="form-switch danger rounded">
                        <input placeholder="switch" id="switch-rounded-6" type="checkbox" />
                        <label for="switch-rounded-6"></label>
                      </div>
                      <div class="form-switch secondary rounded">
                        <input placeholder="switch" id="switch-rounded-7" type="checkbox" />
                        <label for="switch-rounded-7"></label>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <div class="form-switch rounded">
      <input placeholder="switch" id="switch-rounded-1" type="checkbox" />
      <label for="switch-rounded-1"></label>
    </div>
    <div class="form-switch primary rounded">
      <input placeholder="switch" id="switch-rounded-2" type="checkbox" />
      <label for="switch-rounded-2"></label>
    </div>
    <div class="form-switch success rounded">
      <input placeholder="switch" id="switch-rounded-3" type="checkbox" />
      <label for="switch-rounded-3"></label>
    </div>
    <div class="form-switch info rounded">
      <input placeholder="switch" id="switch-rounded-4" type="checkbox" />
      <label for="switch-rounded-4"></label>
    </div>
    <div class="form-switch warning rounded">
      <input placeholder="switch" id="switch-rounded-5" type="checkbox" />
      <label for="switch-rounded-5"></label>
    </div>
    <div class="form-switch danger rounded">
      <input placeholder="switch" id="switch-rounded-6" type="checkbox" />
      <label for="switch-rounded-6"></label>
    </div>
    <div class="form-switch secondary rounded">
      <input placeholder="switch" id="switch-rounded-7" type="checkbox" />
      <label for="switch-rounded-7"></label>
    </div>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">Line</h4>
            <div class="card-body">
              <div id="tab-line" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <div class="form-switch-line">
                        <input placeholder="switch" id="switch-line-1" type="checkbox" />
                        <label for="switch-line-1"></label>
                      </div>
                      <div class="form-switch-line primary">
                        <input placeholder="switch" id="switch-line-2" type="checkbox" />
                        <label for="switch-line-2"></label>
                      </div>
                      <div class="form-switch-line success">
                        <input placeholder="switch" id="switch-line-3" type="checkbox" />
                        <label for="switch-line-3"></label>
                      </div>
                      <div class="form-switch-line info">
                        <input placeholder="switch" id="switch-line-4" type="checkbox" />
                        <label for="switch-line-4"></label>
                      </div>
                      <div class="form-switch-line warning">
                        <input placeholder="switch" id="switch-line-5" type="checkbox" />
                        <label for="switch-line-5"></label>
                      </div>
                      <div class="form-switch-line danger">
                        <input placeholder="switch" id="switch-line-6" type="checkbox" />
                        <label for="switch-line-6"></label>
                      </div>
                      <div class="form-switch-line secondary">
                        <input placeholder="switch" id="switch-line-7" type="checkbox" />
                        <label for="switch-line-7"></label>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <div class="form-switch-line">
      <input placeholder="switch" id="switch-line-1" type="checkbox" />
      <label for="switch-line-1"></label>
    </div>
    <div class="form-switch-line primary">
      <input placeholder="switch" id="switch-line-2" type="checkbox" />
      <label for="switch-line-2"></label>
    </div>
    <div class="form-switch-line success">
      <input placeholder="switch" id="switch-line-3" type="checkbox" />
      <label for="switch-line-3"></label>
    </div>
    <div class="form-switch-line info">
      <input placeholder="switch" id="switch-line-4" type="checkbox" />
      <label for="switch-line-4"></label>
    </div>
    <div class="form-switch-line warning">
      <input placeholder="switch" id="switch-line-5" type="checkbox" />
      <label for="switch-line-5"></label>
    </div>
    <div class="form-switch-line danger">
      <input placeholder="switch" id="switch-line-6" type="checkbox" />
      <label for="switch-line-6"></label>
    </div>
    <div class="form-switch-line secondary">
      <input placeholder="switch" id="switch-line-7" type="checkbox" />
      <label for="switch-line-7"></label>
    </div>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <h4 class="card-header">line v2</h4>
            <div class="card-body">
              <div id="tab-line-v2" class="tab">
                <div class="tab-header curved line">
                  <div id="tab1" class="tab-header-item active">Demo</div>
                  <div id="tab2" class="tab-header-item">Html</div>
                </div>
                <div class="tab-body">
                  <div class="tab-body-item tab1 active">
                    <div class="d-flex flex-wrap gap-3">
                      <div class="form-switch-line line">
                        <input placeholder="switch" id="switch-line-8" type="checkbox" />
                        <label for="switch-line-8"></label>
                      </div>
                      <div class="form-switch-line primary line">
                        <input placeholder="switch" id="switch-line-9" type="checkbox" />
                        <label for="switch-line-9"></label>
                      </div>
                      <div class="form-switch-line success line">
                        <input placeholder="switch" id="switch-line-10" type="checkbox" />
                        <label for="switch-line-10"></label>
                      </div>
                      <div class="form-switch-line info line">
                        <input placeholder="switch" id="switch-line-11" type="checkbox" />
                        <label for="switch-line-11"></label>
                      </div>
                      <div class="form-switch-line warning line">
                        <input placeholder="switch" id="switch-line-12" type="checkbox" />
                        <label for="switch-line-12"></label>
                      </div>
                      <div class="form-switch-line danger line">
                        <input placeholder="switch" id="switch-line-13" type="checkbox" />
                        <label for="switch-line-13"></label>
                      </div>
                      <div class="form-switch-line secondary line">
                        <input placeholder="switch" id="switch-line-14" type="checkbox" />
                        <label for="switch-line-14"></label>
                      </div>
                    </div>
                  </div>
                  <div class="tab-body-item tab2">
                    <pre><code class="language-markup">
  <div class="d-flex flex-wrap gap-3">
    <div class="form-switch-line line">
      <input placeholder="switch" id="switch-line-8" type="checkbox" />
      <label for="switch-line-8"></label>
    </div>
    <div class="form-switch-line primary line">
      <input placeholder="switch" id="switch-line-9" type="checkbox" />
      <label for="switch-line-9"></label>
    </div>
    <div class="form-switch-line success line">
      <input placeholder="switch" id="switch-line-10" type="checkbox" />
      <label for="switch-line-10"></label>
    </div>
    <div class="form-switch-line info line">
      <input placeholder="switch" id="switch-line-11" type="checkbox" />
      <label for="switch-line-11"></label>
    </div>
    <div class="form-switch-line warning line">
      <input placeholder="switch" id="switch-line-12" type="checkbox" />
      <label for="switch-line-12"></label>
    </div>
    <div class="form-switch-line danger line">
      <input placeholder="switch" id="switch-line-13" type="checkbox" />
      <label for="switch-line-13"></label>
    </div>
    <div class="form-switch-line secondary line">
      <input placeholder="switch" id="switch-line-14" type="checkbox" />
      <label for="switch-line-14"></label>
    </div>
  </div>
                      </code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Start: Prism -->
  <script src="/projects/template-html-nv/src/assets/vendors/prism/prism.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/toast.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/prism/prism.js"></script>
  <!-- End: Prism -->
  <!-- Start: Tabs -->
  <script src="/projects/template-html-nv/src/assets/js/tab.js"></script>
  <!-- End: Tabs-->
  <script src="/projects/template-html-nv/src/assets/js/menu/menu-route.js"></script>
  <script src="/projects/template-html-nv/src/assets/js/menu/menu.js" defer></script>
  <script>
    fnTab("#tab-basic-switches");
    fnTab("#tab-rounded");
    fnTab("#tab-line");
    fnTab("#tab-line-v2");
  </script>
</html>
